.grid {
  display: flex;
  flex-direction: column;
}
.row-header {
  display: flex;
  flex-direction: row;
}
.row-content {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
}
.col-content {
  width: 50%;
  text-align: center;
}

.header {
  width: 40%;
}
.header-center {
  width: 20%;
}

.pull-center {
  text-align: center;
}

.col-content .fighter-image {
  height: auto;
}
